@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-body: #ffe4cc;
    --color-text: #333333;
    --color-black: #000000;
    --color-hover: #f5a9bd;
    --color-hover-fundo: #1b1b1b;
    --sombra-hover: rgb(255, 0, 200);
}

::selection {
    background-color: var(--color-hover);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-body);
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 1.5;
}

img,
video {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0px;
    background-color: var(--color-black);
    padding: 0px 100px 0px 100px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header .mobile-menu-icon {
    display: none;
}

header .mobile-menu {
    display: none;
}

header nav {
    display: flex;
    list-style: none;
    height: 80px;
    flex-wrap: wrap;
    align-content: center;
}

header .menu {
    display: ruby;
    list-style: none;
    margin-bottom: 0px;
}

header img {
    height: 90%;
}

header .menu li {
    position: relative;
    margin-right: 10px;
    display: flex;
    float: left;
}

header .menu li i {
    font-size: 18px;
    margin-right: 8px;
    text-align: center;
    color: var(--color-hover);
    text-decoration: none;
    font-weight: 500;
}

header .menu li a {
    position: relative;
    display: block;
    color: var(--color-hover);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sub {
    color: var(--color-body);
}

header .menu li:hover {
    color: var(--color-hover);
}

header .menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    color: var(--color-hover);
    background-color: var(--color-hover);
    transition: width 0.3s ease;
    border-radius: 2px;
}

header .menu li:hover::after {
    width: 100%;
}


header .menu li ul {
    position: absolute;
    top: 30px;
    background-color: var(--color-black);
    display: none;
}

header .menu li:hover ul,
header .menu li.over ul {
    display: block;
}

header .menu li ul li {
    padding: 5px 10px;
    display: block;
}

header .menu button {
    position: relative;
    display: flex;
    float: left;
    margin-left: 10px;
    background-color: var(--color-hover);
    border-radius: 15px;
}

header .menu button i {
    font-size: 18px;
    text-align: center;
    padding: 9px 10px;
    color: var(--color-black);
    text-decoration: none;
    font-weight: 500;
}

header .menu button a {
    position: relative;
    padding: 9px 10px 9px 0px;
    display: block;
    color: var(--color-black);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

header .menu button:hover {
    transition: 0.3s;
    background-color: var(--color-hover);
}

.hiperlinks {
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: var(--color-hover-fundo);
    padding: 10px 0;
}

.hiperlinks a {
    color: var(--color-body);
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.slideshow-container {
    width: 100%;
    top: 120px;
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: center;
}

.card-slide {
    overflow-x: hidden;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 518px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: margin-left 0.7s;
}

.slides img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

input[type=radio] {
    display: none;
}

#slide1:checked~.carousel .slides {
    margin-left: 0;
}

#slide2:checked~.carousel .slides {
    margin-left: -100%;
}

#slide3:checked~.carousel .slides {
    margin-left: -200%;
}

.navigation {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 7px;
}

.navigation i {
    display: inline-flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    color: var(--color-hover);
    cursor: pointer;
    transition: 0.3s;
}

.bar {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    align-items: center;
    border-radius: 50%;
    background: var(--color-hover-fundo);
    cursor: pointer;
    transition: 0.3s;
}

#slide1:checked~.navigation label[for="slide1"],
#slide2:checked~.navigation label[for="slide2"],
#slide3:checked~.navigation label[for="slide3"] {
    background: var(--color-hover);
    transform: scale(1.5);
}

.corpo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
}

h1 {
    color: var(--color-black);
    display: flex;
    scroll-margin-top: 140px;
}

.font {
    font-size: 20px;
    font-weight: normal;
    color: #ff99e1;
    text-align: center;
    margin-bottom: 0px;
}



.text {
    display: flex;
    text-align: justify;
    justify-items: center;
    padding: 10px 0px;
    color: #000000;
}

h3 {
    color: #000000;
}

p {
    display: contents;
}

figure {
    border: 0px solid rgb(0, 0, 0);
    text-align: center;
}

figcaption {
    font-style: italic;
    color: black;
}


table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    background-color: var(--color-hover);
    color: #000;
    overflow: hidden;
}

table th,
td {
    border: 1px solid var(--color-black);
    padding: 10px;
}

table td a {
    position: relative;
    padding: 5px 10px;
    display: block;
    color: var(--color-black);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

table th {
    background-color: var(--color-black);
    color: var(--color-hover);
    font-weight: bold;
}

.list ul {
    list-style: outside;
    padding-left: 0;
}

.list ul li {
    margin: 5px auto;
    padding: 8px 12px;
    width: 90%;
    border-radius: 10px;
}


footer {
    background-color: #1A1A1A;
    color: #F5F5F5;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(255, 102, 178, 0.1);
}

footer p {
    margin: 5px 0;
    font-size: 0.9rem;
}



/*FORMULARIO*/

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    width: 60%;
    background-color: var(--color-hover);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.img-background {
    position: absolute;
    bottom: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper1 {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    width: 50%;
    height: auto;
    padding: 40px 80px;
}

form {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
    left: 0px;
}

.information img {
    width: 182px;
}

.container {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 100%;
    height: 560px;
    padding: 30px 0px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease;
}

.title-form {
    color: var(--color-black);
    display: flex;
    scroll-margin-top: 140px;
    justify-content: center;
}

.form {
    width: 100%;
    position: absolute;
    transition: 0.5s ease;
}

.login {
    left: 0;
}

.register {
    left: 100%;
}

.top {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.top a {
    color: var(--color-hover);
    font-weight: 600;
    text-decoration: none;
}

.top a:hover {
    color: var(--color-hover);
}

.input-group {
    margin-top: 15px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--color-hover);
    outline: none;
    transition: 0.2s;
}

.input-group i {
    position: absolute;
    font-size: 18px;
    left: 10px;
    top: 50%;
    transform: translateY(0%);
    color: #666;
    pointer-events: none;
}

.input-group input:focus {
    border-color: var(--color-hover);
}

.two-column {
    display: flex;
    gap: 15px;
}

.two-column .input-group {
    flex: 1;
}


.btn {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: var(--color-hover);
    color: #000;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.btn a {
    color: #000;
    text-decoration: none;
}

/*.btn:hover {
    background: var(--pink-dark);
}*/

.options {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.options a {
    color: var(--color-hover);
    font-weight: 800;
    text-decoration: none;
}

.options a:hover {
    color: var(--color-hover);
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px 0;
}

.grid-item {
    background-color: var(--color-hover);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
}

.grid-item:hover {
    transform: scale(1.10);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

/*input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-hover);
    margin-right: 8px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
}

input[type="checkbox"]:checked {
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

input[type="checkbox"]:checked::after {
    content: '';
    position: relative;
    display: block;
    top: -2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}*/

iframe {
    width: 100%;
    min-height: 56%;
    border: none;
}


@media (max-width: 1042px) {
    header {
        padding: 10px 5%;
    }

    header img {
        width: 120px;
    }

    header nav ul.menu {
        flex-direction: column;
        align-items: center;
    }

    .slideshow-container {
        top: 115px;
    }

    .carousel {
        height: 400px;
    }

    .font {
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .corpo {
        width: 90%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header img {
        width: 140px;
    }

    header nav ul.menu {
        display: none;
    }

    header .mobile-menu-icon {
        display: block;
    }

    header .mobile-menu-icon button {
        color: var(--color-body);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        background-color: var(--color-black);
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        z-index: 10;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0px 28px 0px 28px;
        margin: 10px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu .menu li {
        padding: 10px 0px 10px 0px;
    }

    .mobile-menu ul li a {
        display: block;
        color: var(--color-body);
        text-align: center;
        text-decoration: none;
    }

    /*.mobile-menu ul li a:hover {
        color: var(--color-hover);
    }*/

    .mobile-menu .menu li ul {
        background-color: var(--color-hover-fundo);
        top: 50px;
        width: 130%;
        left: -30px;
        margin: 0;
        padding: 10px 28px 10px 55px;
    }

    .mobile-menu li ul li {
        background-color: var(--color-hover-fundo);
        list-style: none;
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu li ul li::after {
        display: none;
    }

    .mobile-menu-icon button {
        background: none;
        border: none;
        font-size: 25px;
        color: var(--color-body);
        cursor: pointer;
    }

    .mobile-menu-icon .login-button {
        display: block;
        position: relative;
        float: left;
        margin-right: 10px;
        background-color: var(--color-body);
        border-radius: 15px;
    }

    .mobile-menu-icon .login-button a {
        position: relative;
        padding: 9px 10px;
        font-size: 14px;
        display: block;
        color: var(--color-black);
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .mobile-menu-icon .login-button:hover {
        transition: 0.3s;
        background-color: var(--color-hover);
    }

    figure img {
        max-width: 100%;
    }

    .hiperlinks {
        font-size: 12px;
        flex-wrap: wrap;
    }

    .slideshow-container {
        top: 115px;
    }

    .carousel {
        height: 350px;
    }

    .slides img {
        object-fit: cover;
    }

    h1 {
        scroll-margin-top: 160px;
    }

    .corpo {
        width: 90%;
    }

    table {
        font-size: 12px;
    }

    .main {
        display: block;
    }

    .wrapper {
        display: none;
        width: 0;
    }

    .img-background {
        display: none;
        width: 0;
    }

    .wrapper1 {
        width: 100%;
        padding: 0px 80px;
        min-height: 100vh;
    }

    .form-box {
        height: 520px;
        padding: 20px 0px;
    }
}

@media (max-width: 480px) {
    .main {
        display: block;
    }

    .wrapper {
        display: none;
        width: 0;
    }

    .img-background {
        display: none;
        width: 0;
    }

    .wrapper1 {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
    }

    .slideshow-container {
        top: 115px;
    }

    .carousel {
        height: 300px;
    }
}

@media (max-width: 320px) {
    .slideshow-container {
        top: 115px;
    }

    .carousel {
        height: 250px;
    }

    .text {
        font-size: 12px;
    }
}
